.mx-auto.container
    .articles-top.flex.justify-between.mt-5
        include ../utils/header
        +header('font-bold text-xl', 'أحدث المقالات: ')
        .articles-top--layout.mx-4
            span.font-bold.text-lg طريقة العرض: 
            button#horizontal.inline-block.text-lg.mx-1
                i.fas.fa-th
            button#vertical.inline-block.text-lg 
                i.fas.fa-bars

.container.flex.flex-wrap(class="sm:mx-auto")
    .aritcles-content.flex.flex-wrap.mt-8
        .articles-content--articles.flex.flex-wrap.-mx-2#horizontal-articles.hidden(class="md:w-10/12")
            -for(let i =0 ; i < 12; i++){
                .rounded.overflow-hidden(class="md:w-4/12 md:my-4 hover:shadow-lg px-4")
                    img.w-full(src='https://placeimg.com/500/300/tech' style="height:161px" alt='Sunset in the mountains')
                    span.bg-red-800.inline-block.p-2.mr-8.-mt-24.text-white كمبيوتر وانترنت
                    .px-6.py-4
                        a.font-bold.text-xl.mb-2.cursor-pointer(href="#") برنامج جلب التعريفات Driver Easy
                        p.text-gray-700.text-base.mt-4 مستخدمي الكمبيوتر العاديين مكبرات الصوت لا تعمل؟ الطابعة سوء التصرف؟ رؤية كل شيء كبير ومشوهة على الشاشة؟
                    .px-6.py-4
                        span.inline-block.bg-gray-200.rounded-full.px-3.py-1.text-sm.font-semibold.text-gray-700.mr-2 
                            i.far.fa-clock.ml-1 
                            span 25 / 10 / 2019
                        span.inline-block.bg-gray-200.rounded-full.px-3.py-1.text-sm.font-semibold.text-gray-700.mr-2 
                            i.far.fa-eye.ml-1
                            span 10
                        a.inline-block.bg-gray-200.rounded-full.px-3.py-1.text-sm.font-semibold.text-gray-700.mr-2.cursor-pointer.sub-catigory(href="#" class="hover:bg-red-800 hover:text-white") هاردوير
                    button.bg-green-600.py-1.px-3.rounded-full.text-white(class="block") إقرأ المزيد

            - }
        .ad.relative.bg-gray-700(class="hidden lg:block lg:w-2/12")
            .bg-gray-700.h-full.absolute
    
    .container.flex.flex-wrap(class="sm:mx-auto")
        .articles-content--articles.flex.flex-wrap#vertical-articles.w-full(class="lg:w-10/12")     
            .mx-auto.container
                -for(let i =0 ; i < 12; i++){
                    .border.flex.flex-wrap.my-2
                        .img(style="background-image: url(https://placeimg.com/500/300/tech); background-size: cover" class="md:w-4/12 hidden sm:block sm:w-1/3")
                        .text.p-2(class="w-full sm:w-2/3 md:w-7/12")
                            a.font-bold.text-xl.mb-2.cursor-pointer(href="#") برنامج جلب التعريفات Driver Easy
                            p.text-gray-700.text-base.mt-4 مستخدمي الكمبيوتر العاديين مكبرات الصوت لا تعمل؟ الطابعة سوء التصرف؟ رؤية كل شيء كبير ومشوهة على الشاشة؟
                            .py-4(class="md:justify-between sm:flex")
                                .info.w-full(class="sm:w-auto")
                                    span.inline-block.bg-gray-200.rounded-full.px-3.py-1.text-sm.font-semibold.text-gray-700.mr-2.my-1(class="sm:my-0") 
                                        i.far.fa-clock.ml-1 
                                        span 25 / 10 / 2019
                                    br(class="sm:hidden").
                                    span.inline-block.bg-gray-200.rounded-full.px-3.py-1.text-sm.font-semibold.text-gray-700.mr-2.my-1(class="sm:my-0")
                                        i.far.fa-eye.ml-1
                                        span 10
                                    br(class="sm:hidden")
                                    a.inline-block.my-1.bg-gray-200.rounded-full.px-3.py-1.text-sm.font-semibold.text-gray-700.mr-2.cursor-pointer.sub-catigory(href="#" class="sm:my-0 hover:bg-red-800 hover:text-white") هاردوير
                                    br(class="sm:hidden")
                                button.bg-green-600.py-1.px-3.rounded-full.text-white(class="block") إقرأ المزيد
                - }
        .ad.relative.bg-gray-700(class="hidden lg:block lg:w-2/12")
            .bg-gray-700.h-full.absolute
.articles-pagenation.flex.justify-center
    a.text-gray-700.text-center.bg-gray-400.px-4.py-2.m-2(class="hover:bg-red-800 cursor-pointer hover:text-white" href="#") 1
    a.text-gray-700.text-center.bg-gray-400.px-4.py-2.m-2(class="hover:bg-red-800 cursor-pointer hover:text-white" href="#") 2
    a.text-gray-700.text-center.bg-gray-400.px-4.py-2.m-2(class="hover:bg-red-800 cursor-pointer hover:text-white" href="#") 3
