.mx-auto.container
    .articles-top.flex.justify-between.mt-5
        include ../utils/header
        +header('font-bold text-xl', 'أحدث المقالات: ')
        .articles-top--layout.mx-4
            span.font-bold.text-lg طريقة العرض: 
            button#horizontal.inline-block.text-lg.mx-1
                i.fas.fa-th
            button#vertical.inline-block.text-lg
                i.fas.fa-bars

.mx-auto.container
    .flex.flex-wrap
        .articles-content.flex.flex-wrap.mt-8.hidden#horizontal-articles
            .articles-content--articles.flex.flex-wrap.overflow-hidden(class="md:w-10/12 sm:-mx-2")
                -for(let i =0 ; i < 12; i++){
                    include ../utils/cardH
                    +cardH
                - }
            include ../utils/ad
            +AD(['ad relative bg-gray-700 hidden md:block md:w-2/12','bg-gray-700 h-full absolute'])
            
        .articles-content.flex.flex-wrap.mt-8#vertical-articles
            .articles-content--articles.flex.flex-wrap.overflow-hidden(class="md:w-10/12 md:w-10/12 sm:-mx-2")
                -for(let i =0 ; i < 12; i++){
                    include ../utils/cardv
                    +cardV
                - }
            include ../utils/ad
            +AD(['ad relative bg-gray-700 hidden md:block md:w-2/12','bg-gray-700 h-full absolute'])

    include ../utils/pagenation
    +page(['articles-pagenation flex justify-center', ' text-gray-700 text-center bg-gray-400 px-4 py-2 m-2 hover:bg-red-800 cursor-pointer hover:text-white'])