mixin navi(active)
    nav.bg-white.fixed.top-0.shadow-xl.w-full.h-12.text-center.justify-center.flex.flex-wrap
        .container.justify-center.flex.flex-wrap(class="md:justify-start")
            button(class='w-3/12 m-auto bg-black text-white text-sm h-6 rounded-lg md:hidden outline-none' id="open") الأقسام
            .logo.shadow-inner.flex(class="w-8/12 bg-white text-black font-bold text-2xl md:w-1/12 md:text-white md:text-xl md:bg-red-800")
                h1.m-auto إعرف
            .links(class="hidden md:block md:w-11/12")
                ul.h-full
                    each list in active
                        li.h-full.text-sm.cursor-pointer.inline-flex.relative
                            a.inline-block.m-auto.mx-2.font-bold(href="#" class="md:mx-1" class=list[1])=list[0]

            .collapse.top-0.right-0.h-full.fixed.pt-16.flex.flex-wrap.justify-center.items-center#collapse(class="md:hidden w-8/12 bg-white shadow-2xl")
                button#close.absolute.top-0.p-3.font-bold.right-0.border.border-black x
                ul
                    each list in active
                        li.p-2.text-xl.cursor-pointer
                            a(href="#" class=list[1])=list[0]