nav.bg-white.text-center.fixed.top-0.shadow-xl.w-full.h-12.flex.flex-wrap.justify-center.items-center
    h1(class="w-8/12 font-bold text-2xl") إعرف
    button(class='w-3/12 bg-black text-white text-sm h-6 rounded-lg mt-2 md:hidden' id="close") الأقسام
    .collapse#collapse
        